name: Rust

on:
  push:
    branches: [main]
    tags:
      - "*"
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-test:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            use-cross: false

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Run Tests and Upload Coverage
        uses: Reloaded-Project/devops-rust-test-and-coverage@v1
        with:
          rust-project-path: ./src
          upload-coverage: true
          codecov-token: ${{ secrets.CODECOV_TOKEN }}
          target: ${{ matrix.target }}
          use-cross: ${{ matrix.use-cross }}
          rust-toolchain: "1.91.1"
          pre-test-command: "cargo binstall cargo-expand"

      # Note: The GitHub Runner Images will contain an up to date Rust Stable Toolchain
      #       thus as per recommendation of cargo-semver-checks, we're using stable here.
      #
      # Note to reader. If adding this to a new repo, please clear cache.
      - name: Check documentation is valid
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        working-directory: src
        env:
          RUSTDOCFLAGS: "-D warnings"
        run: cargo doc --workspace --all-features --document-private-items --target ${{ matrix.target }}

      - name: Run linter
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        working-directory: src
        run: cargo clippy --workspace --all-features --target ${{ matrix.target }} -- -D warnings

      - name: Run formatter check
        uses: actions-rust-lang/rustfmt@v1
        if: github.event_name == 'pull_request' || startsWith(github.ref, 'refs/tags/')
        with:
          manifest-path: src/Cargo.toml

  publish-crate:
    permissions:
      contents: write

    needs: [build-and-test]
    # Publish only on tags
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Publish Rust Crate and Artifacts
        uses: Reloaded-Project/devops-publish-action@v3
        with:
          rust-crates-io-token: ${{ secrets.CRATES_IO_TOKEN }}
          rust-cargo-project-paths: src/endian-writer-derive
          compression-tool: 7z
          artifact-groups-file: .github/artifact-groups.yml
          changelog-enabled: "true"
          changelog-template: .github/changelog.hbs
          changelog-is-release: ${{ startsWith(github.ref, 'refs/tags/') }}
          changelog-release-tag: ${{ github.ref_name }}
          changelog-override-starting-version: "true"
          changelog-hide-credit: "true"
